{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}

{% block body %}
     {% for trick in tricks %}
          <br>
          {{ trick.name }}
          <br>
          {{ trick.description }}
          <a href="{{ path('trick', {'id': trick.id}) }}">plus</a>
     {% endfor %}
{% endblock %}
