{% extends 'base.html.twig' %}

{% block title %}Password Reset Email Sent{% endblock %}

{% block body %}
<div class="container login">
        <h3>Un email vous a était envoyé, il éxpire dans {{ tokenLifetime|date('g') }} heur(s).</h2>
        <p>Aucun email reçue ? <a href="{{ path('app_forgot_password_request') }}">Renvoyez le mail</a>.</h2>
</div>
{% endblock %}
