/* --------------------------------------------------------------------------------- */

/*  /* Global Rules */

/* --------------------------------------------------------------------------------- */

h4 {
    font-weight: 400;
}

h6 {
    font-weight: 500;
}

/* --------------------------------------------------------------------------------- */

/*  /* Navbar Aside */

/* --------------------------------------------------------------------------------- */

.main-sidebar {
    top: 0;
    position: fixed;
    height: calc(100vh);
    background: #fff;
    z-index: 1070;
    will-change: transform;
    transition: -webkit-transform 0.2s ease-in-out;
    transition: transform 0.2s ease-in-out;
    box-shadow: 0 0.125rem 9.375rem rgba(90, 97, 105, 0.1), 0 0.25rem 0.5rem rgba(90, 97, 105, 0.12), 0 0.9375rem 1.375rem rgba(90, 97, 105, 0.1), 0 0.4375rem 2.1875rem rgba(165, 182, 201, 0.1);
}

.navbar {
    text-transform: none;
}

.main-navbar .navbar {
    height: 3.75rem;
}

.main-sidebar .navbar-brand {
    overflow: hidden;
    height: 3.75rem;
    font-size: 1rem;
}

.navbar-toggler {
    width: 100%;
    height: 3.75rem;
}

.main-navbar .navbar > * {
    display: flex;
}

.navbar-light .navbar-brand {
    font-weight: 700;
    color: #3d5170;
}

.main-sidebar .nav-wrapper {
    overflow-y: auto;
    overflow-x: hidden;
    height: calc(100vh - 3.75rem - 1px);
}

.nav {
    font-size: 0.875rem;
}

.nav-item {
    margin-right: 0;
}

.main-sidebar .nav .nav-item,
.main-sidebar .nav .nav-link {
    white-space: nowrap;
    min-width: 100%;
    max-width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
    will-change: background-color, box-shadow, color;
    transition: box-shadow 0.2s ease, color 0.2s ease, background-color 0.2s ease;
    font-size: 0.85rem;
}

.main-sidebar .nav .nav-item .nav-link {
    border-bottom: 1px solid #e1e5eb;
    font-weight: 400;
    color: #3d5170;
    padding: 0.9375rem 1.5625rem;
    background-color: white;
}

.main-navbar .navbar .nav-link {
    min-width: 10rem;
}

.main-sidebar .nav .nav-item .nav-link.active,
.main-sidebar .nav .nav-item .nav-link:hover,
.main-sidebar .nav .nav-item.active,
.main-sidebar .nav .nav-item:hover {
    box-shadow: inset 0.1875rem 0 0 black;
    background-color: #fbfbfb;
    color: black;
}

i.material-icons {
    font-size: inherit;
    position: relative;
    top: 2px;
}

.main-sidebar .nav .nav-item .nav-link i.material-icons {
    font-size: 1.125rem;
    top: -1px;
}

.main-sidebar .nav .nav-item .nav-link i {
    min-width: 1.25rem;
    font-size: 90%;
    text-align: center;
    vertical-align: middle;
    will-change: color;
    transition: color 0.2s ease;
    margin-right: 0.375rem;
}

/* --------------------------------------------------------------------------------- */

/*  /* Top Navbar */

/* --------------------------------------------------------------------------------- */

body > div.container-fluid > div > div > div.d-none.d-md-none.d-lg-block.main-navbar.sticky-top.bg-white > nav > ul > li > a > span {
    font-weight: 500;
}

.main-navbar .navbar .user-avatar {
    max-width: 2.5rem;
}

.dropdown-menu {
    z-index: 1000;
    min-width: 10rem;
    padding: 10px 0;
    margin: 0 0 0;
    font-size: 1rem;
    color: #5a6169;
    background-color: #fff;
    border: 1px solid rgba(0, 0, 0, 0.05);
    border-radius: 0.375rem;
    box-shadow: 0 0.5rem 4rem rgba(0, 0, 0, 0.11), 0 10px 20px rgba(0, 0, 0, 0.05), 0 2px 3px rgba(0, 0, 0, 0.06);
}

.main-navbar .navbar .navbar-nav .dropdown-menu {
    position: absolute;
    right: 0;
    width: 100%;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    border-top: none;
}

body > div.container-fluid > div > div > div.d-none.d-md-none.d-lg-block.main-navbar.sticky-top.bg-white > nav > ul > li > a {
    color: #3d5170;
    font-size: 0.95rem;
}

div.card-post__image > div > a {
    color: #1a1a1a;
    text-decoration: none;
    background-color: transparent;
}

.dropdown-item {
    padding: 0.5rem 1.25rem;
    font-weight: 300;
    color: #212529;
    font-size: 0.9375rem;
    transition: background-color 250ms cubic-bezier(0.27, 0.01, 0.38, 1.06), color 250ms cubic-bezier(0.27, 0.01, 0.38, 1.06);
}

.dropdown-menu-small .dropdown-item {
    padding: 0.375rem 0.875rem;
    font-size: 0.813rem;
}

.dropdown-menu-small {
    box-shadow: 0 0.5rem 2rem rgba(0, 0, 0, 0.11), 0 3px 10px rgba(0, 0, 0, 0.05), 0 2px 3px rgba(0, 0, 0, 0.06);
    padding: 0.25rem 0;
    font-size: 0.813rem;
}

/* --------------------------------------------------------------------------------- */

/*  /* Main Content */

/* --------------------------------------------------------------------------------- */

.main-content-container {
    background-color: #f5f6f8;
}

.main-content > .main-content-container.container-fluid {
    min-height: calc(100vh - 7.5rem);
}

.page-header .page-subtitle {
    letter-spacing: 0.125rem;
    color: #818ea3;
    font-size: 0.625rem;
}

.page-header .page-title {
    font-size: 1.625rem;
    font-weight: 500;
    line-height: 1;
    margin: 0;
    padding: 0;
}

.card-header {
    border-top-left-radius: 0.625rem;
    border-top-right-radius: 0.625rem;
    padding: 1rem 1rem;
}

.card-footer {
    border-bottom-left-radius: 0.625rem;
    border-bottom-right-radius: 0.625rem;
    padding: 1rem 1rem;
}

/* ----------------------------- */

/*  /* User Card */

/* ----------------------------- */

body > div.container-fluid > div > div > div.main-content-container.container-fluid.px-4 > div:nth-child(2) > div > div > div {
    background-color: white;
}

body > div.container-fluid > div > div > div.main-content-container.container-fluid.px-4 > div:nth-child(2) > div > div > ul > li.list-group-item.p-4 {
    border-bottom-left-radius: 0.625rem;
    border-bottom-right-radius: 0.625rem;
}

body > div.container-fluid > div > div > div.main-content-container.container-fluid.px-4 > div > div > div > ul > li > strong {
    font-weight: 600;
}

/* ----------------------------- */

/*  /* Update Card */

/* ----------------------------- */

body > div.container-fluid > div > div > div.main-content-container.container-fluid.px-4 > div:nth-child(2) > div.col-lg-8 > div > div {
    padding: 1rem 1rem;
    border-top-left-radius: 0.625rem;
    border-top-right-radius: 0.625rem;
}

.card > .list-group:last-child .list-group-item:last-child {
    border-bottom-left-radius: 0.625rem;
    border-bottom-right-radius: 0.625rem;
}

body > div.container-fluid > div > div > div.main-content-container.container-fluid.px-4 > div:nth-child(2) > div.col-lg-8 > div > ul > li > div > div > form > div:nth-child(2) > div:nth-child(1) > div > div > label {
    height: 2.813rem;
}

.custom-file-label::after {
    content: "Choisir un fichier";
}

#account_description {
    height: 10rem;
}

/* ----------------------------- */

/*  /* Trick card */

/* ----------------------------- */

.card {
    background-color: #fff;
    border: none;
    border-radius: 0.625rem;
}

.card-post__image {
    position: relative;
    min-height: 10.3125rem;
    border-top-left-radius: 0.625rem;
    border-top-right-radius: 0.625rem;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.card-post--1 .card-post__author {
    -webkit-transform: translateY(50%);
    transform: translateY(50%);
    margin-left: 1.5625rem;
    position: absolute;
    bottom: 0;
}

.card-post__author-avatar--small {
    width: 2.1875rem;
    height: 2.1875rem;
}

.card-post__author-avatar {
    width: 2.8125rem;
    height: 2.8125rem;
    box-shadow: 0 0 0 0.125rem #fff, 0 0.1875rem 0.4375rem rgba(90, 97, 105, 0.5);
    display: block;
    background-position: center;
    background-size: cover;
    border-radius: 50%;
    text-indent: -9999px;
}

.card-body {
    border-bottom-left-radius: 0.625rem;
    border-bottom-right-radius: 0.625rem;
}

/* ----------------------------- */

/*  /* Trick */

/* ----------------------------- */

#trick_content {
    height: 10rem;
}

#trick_category {
    height: 2.813rem;
}

.block-image > div.col-md-6 > div {
    height: 45px;
}

body > div.container-fluid > div > div > div.main-content-container.container-fluid.px-4 > div:nth-child(2) > div > div > ul > li > div > div > form > div:nth-child(3) > div {
    margin-bottom: 2.5rem;
}

#trick_images > fieldset {
    margin: 0;
}

#trick_videos > fieldset {
    margin: 0;
}

.custom-file-label {
    text-align: left;
}

.btn-trick {
    height: 45px;
    line-height: 1rem;
    font-size: 36px;
}

.btn.btn-white.btn-trick {
    padding-top: 3px;
    padding-left: 4.5px;
    padding-right: 4.5px;
    border: none;
}

.counter-image,
.counter-video {
    font-size: 20px;
    font-weight: bolder;
    vertical-align: middle;
    margin-left: 1rem;
    padding: 0.7rem;
    color: black;
    border: 2px solid #d9534f;
    border-radius: 0.625rem;
}

/* ----------------------------- */

/*  /* Comments */

/* ----------------------------- */

body > div.container-fluid > div > div > div.main-content-container.container-fluid.px-4 > div:nth-child(2) > div > div > div.card-header {
    border-bottom: none;
}

div.card-body.p-0 {
    border-bottom-left-radius: 0.625rem;
    border-bottom-right-radius: 0.625rem;
}

div.card-body.p-0.row {
    margin-left: 0;
    margin-right: 0;
}

.blog-comments__item {
    padding: 0;
    border-top: 1px solid #e1e5eb;
}

.blog-comments__avatar img {
    width: 3.125rem;
    height: 3.125rem;
    border-radius: 0.25rem;
}

div.blog-comments__content > p {
    font-weight: 600;
}

.blog-comments__actions {
    font-size: 95%;
}

.blog-comments__actions .btn-group button {
    padding: 0.25rem 0.5625rem;
}

.btn-group,
.btn-group-vertical {
    position: relative;
    display: -ms-inline-flexbox;
    display: inline-flex;
    vertical-align: middle;
    border-collapse: collapse;
}

.text-light {
    color: #818ea3 !important;
}

.btn-group > .btn:first-child {
    margin-left: 0;
}

.btn-group-sm > .btn,
.btn-sm {
    padding: 0.4286rem 0.875rem;
    font-size: 0.8rem;
    line-height: 1.5;
    border-radius: 0.25rem;
}

.btn {
    font-weight: 400;
}

.btn-group-vertical > .btn,
.btn-group > .btn {
    position: relative;
    -ms-flex: 0 1 auto;
    flex: 0 1 auto;
}

.btn:focus {
    box-shadow: none;
}

.btn:not(:disabled):not(.disabled) {
    cursor: pointer;
}

.btn.btn-white {
    border: 1px solid #e1e5eb;
    color: #3d5170;
}

.btn-group-vertical > .btn:hover,
.btn-group > .btn:hover {
    z-index: 1;
}

.btn-white:hover {
    background: #fff;
    border-color: #fff;
    box-shadow: 0 0.125rem 0.625rem rgba(129, 142, 163, 0.2), 0 0.0625rem 0.125rem rgba(129, 142, 163, 0.3);
}

.btn-white:not([disabled]):not(.disabled):active {
    box-shadow: none !important;
    background-color: #007bff;
    border-color: #007bff;
    color: #fff;
}

.modal-content {
    border-radius: 0.625rem;
}

/* ----------------------------- */

/*  /* Update Comment */

/* ----------------------------- */

#comment_update_content {
    height: 14rem;
}

/* ----------------------------- */

/*  /* Users */

/* ----------------------------- */

.card-footer.paging.user-active {
    background-color: white;
}

.card-footer.paging.user-inactive {
    background-color: #343a40;
    border-color: #454d55;
}

.table td {
    padding: 0.75rem;
}

/* --------------------------------------------------------------------------------- */

/*  /* Footer */

/* --------------------------------------------------------------------------------- */

.main-footer {
    height: 3.75rem;
}

body > div.container-fluid > div > div > footer > ul {
    padding: 0.4rem 1rem 1rem 1rem;
}

#contenu > ul {
    width: 100%;
}

body > div.container-fluid > div > div > footer > ul > li > a {
    color: #3d5170;
}

body > div.container-fluid > div > div > footer > ul > li > a:hover,
body > div.container-fluid > div > div > footer > ul > li > a:focus {
    color: black;
}

body > div.container-fluid > div > div > div.d-none.d-md-none.d-lg-block.main-navbar.sticky-top.bg-white > nav > ul > li > a:hover,
body > div.container-fluid > div > div > div.d-none.d-md-none.d-lg-block.main-navbar.sticky-top.bg-white > nav > ul > li > a:focus {
    color: black;
}

.copyright {
    color: #3d5170;
}

/* --------------------------------------------------------------------------------- */

/*  /* Pagination */

/* --------------------------------------------------------------------------------- */

ul.pagination {
    margin: 0;
}

.card-footer.paging {
    padding-bottom: 0;
}
